#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use text install
text

#Accept license
eula --agreed

# Run the Setup Agent on first boot
firstboot --disable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=titanbox

# Root password
rootpw --iscrypted $6$t3CL9m4WdPpSC0cm$k31jO.iVWXNf0.FLiTDvml890f5LeDYUKFArjq8BKyGGGIDUNagVuTEuAhpTqMVP0x4u/3adhgSj2k0DQYGlc0
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
user --groups=wheel --name=titan --password=$6$q.4SDQcEA9sQukPK$wDDfYCuFBkkJR7Wl1oVGhEzP5if6n.OEOkz85ZRUNFRLMWDeTiCA/Pu9IPUjOtUCWUsDUhpNjAWrKfr/Uq/5y0 --iscrypted --gecos="titan"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

reboot

%packages
@^minimal
@core
chrony
kexec-tools
kernel-devel
kernel-headers  
make 
bzip2
openssh-clients
nano
wget
gcc

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end